<footer>
    <div class="contact">
        <div class="email">
            <span class="icon">
                <i class="fa-solid fa-envelope"></i>
            </span>
            <span class="info">
                healthcare.proj.cts&commat;gmail.com
            </span>
        </div>
        <div class="phone">
            <span class="icon">
                <i class="fa-solid fa-phone"></i>
            </span>
            <span class="info">
                +91 9748643001
            </span>
        </div>
    </div>
    <p id="footer-text">&copy; 2025-2026 HealthCareApp, All rights reserved.</p>
</footer>