<div class="home container">
    <div class="image-container">
        <img src="/banner.png" alt="banner" id="logo-banner">
    </div>
    <h1 id="h1-home">Welcome to Healthcare Appointment Management System App</h1>
    <div class="show-case">
        <div class="show doctors">
            <span class="value">
                {{doctors()}}+ 
            </span>
            <span class="title">
                Doctors
            </span>
        </div>
        <div class="show patients">
            <span class="value">
                {{patients()}}+
            </span>
            <span class="title">
                Patients
            </span>
        </div>
        <div class="show appointments">
            <span class="value">
                {{appointments()}}+
            </span>
            <span class="title">
                Appointments Created
            </span>
        </div>
        <div class="show support">
            <span class="value">
                {{support()}}
            </span>
            <span class="title">
                Suppport
            </span>
        </div>
    </div>
</div>