<div class="change-password container">
    <div class="change-password-container">
        <div class="change-password-img">
            <img src="/forgot_password.png" alt="logo-change-password">
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h1 id="h1-change-password">Change Password</h1>
            <div class="form-control">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                </mat-form-field>
                @if(isEmailInvalid){
                    <p class="form-control-error">Invalid email</p>
                }
            </div>
            <div class="form-control">
                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="password" [type]="hidePassword() ? 'password' : 'text'"/>
                    <button
                        type="button"
                        class="password-input-btn"
                        mat-icon-button
                        matSuffix
                        (click)="togglePasswordShow($event)"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePassword()"
                        >
                        <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                @if(isPasswordInvalid){
                    <p class="form-control-error">Password must be 8-20 characters long and include at least one letter, one number, and one special character</p>
                }
            </div>

            <div class="form-control">
                <mat-form-field>
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput formControlName="confirm_password" [type]="confirmHidePassword() ? 'password' : 'text'"/>
                    <button
                        type="button"
                        class="password-input-btn"
                        mat-icon-button
                        matSuffix
                        (click)="toggleConfirmPasswordShow($event)"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="confirmHidePassword()"
                        >
                        <mat-icon>{{confirmHidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                @if(isConfirmPasswordInvalid){
                    <p class="form-control-error">Password doesn't match</p>
                }
            </div>
    
            <button type="submit" class="btn btn-change-password btn-arrow" [disabled]="isLoading()">
                Change
                @if(!isLoading()){
                    <i class="fa-solid fa-arrow-right"></i>
                }
                @else{
                    <mat-progress-spinner mode="indeterminate" diameter="15"></mat-progress-spinner>
                }
            </button>
        </form>
    </div>
</div>