nav#navbar{
    width: 100vw;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 65px;
    position: fixed;
    z-index: 100;
    gap: 1rem;
    background-color: var(--nav-footer-color);
    padding: 1rem;
    padding-left: 1.5rem;
}

nav#navbar a{
    text-decoration: none;
    color: rgb(84, 83, 83);
    transition: color 0.2s ease-in;
    position: relative;
}

nav#navbar a:not(.active-route, .btn-register, .a-profile)::after{
    content: '';
    position: absolute;
    bottom: -1.5px;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: rgb(12, 107, 215);
    transition: all 0.2s ease;
}

nav#navbar a:hover::after{
    width: 100%;
}

nav#navbar a:hover{
    color: black;
}

nav#navbar a.active-route{
    color: black;
    border-bottom: 2px solid rgb(12, 107, 215);
    font-weight: bold;
}

div.side-nav{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-left: auto;
    position: relative;
    right: 0.85rem;
}

img.profile-pic{
    width: 40px;
    aspect-ratio: 1/1;
}

a.a-profile{
    display: flex;
    border-radius: 50%;
    outline: 2px solid rgba(0, 0, 0, 0.445);
    justify-content: center;
    align-items: center;
    transition: all 0.05s ease !important;
}

a.a-profile:hover{
    outline: 3px solid rgba(0, 0, 0, 0.244);
    opacity: 0.8;
}

a.btn-register{
    font-weight: normal;
    border: 1px solid rgba(0, 0, 0, 0.429);
    box-shadow: 0 0 !important;
    color: black !important;
    transition: all 0.1s ease-in !important;
}

a.btn-register:hover{
    border-radius: 20px;
}