<div class="availabilities container">
    @if(currentLoggedInUser()!.role == 'PATIENT'){
        <h1 class="h1-availabilities">Hi, {{currentLoggedInUser()!.name}}</h1>
        <h2>Find your preferable availability slots</h2>
    }@else if(currentLoggedInUser()!.role == 'DOCTOR'){
        <h1 class="h1-availabilities">Hi, Dr. {{currentLoggedInUser()!.name}}</h1>
        <h2>Find your availability slots</h2>
    }

    @if(currentLoggedInUser()!.role == 'DOCTOR'){
        <form id="create-availability" [formGroup]="availabilityForm">
            <div class="slot time-slot-start">
                <label for="slotStart">From</label>
                <input type="datetime-local" class="timeSlot" id="slotStart" name="slotStart" formControlName="timeSlotStart" [class.error-control]="slotStartInvalid">
            </div>
            <div class="slot time-slot-end">
                <label for="slotEnd">
                    <i class="fa-solid fa-arrow-right"></i></label>
                <input type="datetime-local" class="timeSlot" id="slotEnd" name="slotEnd" formControlName="timeSlotEnd" [class.error-control]="slotEndInvalid">
            </div>
            <button class="btn" (click)="onCreateSubmit()">
                Create
                <i class="fa-solid fa-plus"></i>
            </button>
        </form>
    }@else if(currentLoggedInUser()!.role == 'PATIENT'){
        <form id="filter-availability" [formGroup]="filterAvailabilityForm">
            <div class="form-control">
                <input type="text" class="custom-input" id="doctorName" name="doctorName" formControlName="doctorName" placeholder="Doctor Name">
            </div>
            <div class="slot time-slot-start">
                <label for="slotStart">From</label>
                <input type="datetime-local" class="timeSlot" id="slotStart" name="slotStart" formControlName="timeSlotStart">
            </div>
            <div class="slot time-slot-end">
                <label for="slotEnd"><i class="fa-solid fa-arrow-right"></i></label>
                <input type="datetime-local" class="timeSlot" id="slotEnd" name="slotEnd" formControlName="timeSlotEnd">
            </div>
            <button class="btn" (click)="onFilterSubmit()">
                Filter
                <i class="fa-solid fa-filter"></i>
            </button>
        </form>
    }

    <div class="show-availabilities">
        @if(currentLoggedInUser()!.role === 'DOCTOR'){
            @if(availabilities().length > 0){
                <p class="p-availabilities">Your available time slots - </p>
            }
        }@else if (currentLoggedInUser()!.role === 'PATIENT') {
            @if(availabilities().length > 0){
                <p class="p-availabilities">Available time slots - </p>
            }
        }
        @for(availability of pagedAvailabilities(); track availability.availabilityId){
                <app-availability [availability]="availability" [userRole]="currentLoggedInUser()!.role" (book)="onBook($event)" (edit)="onEdit($event)" (delete)="onDelete($event)"/>
        }@empty {
            <p class="p-availabilities">No available time slots 😢</p>
        }
    </div>

    @if(pagedAvailabilities().length > 0){
        <mat-paginator
            [length]="availabilities().length"
            [pageSize]="pageSize()"
            [pageSizeOptions]="[10, 20, 30]"
            (page)="onPageChange($event)"
        >    
        </mat-paginator>
    }
</div>