div.login-container{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    outline: 1px solid rgba(44, 44, 44, 0.269);
    border-radius: 5px;
    background-color: aliceblue;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
}


div.login form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 450px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.164);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
}

div.login form h1{
    margin-bottom: 1rem;
}

p.form-control-error{
    margin: 0;
    color: red;
    font-size: 0.8rem;
    position: relative;
    bottom: 10px;
}

div.form-control{
    position: relative;
}

div.login-img{
    width: 40%;
}

div.login-img img{
    width: 100%;
}

div.forgot-password{
    position: relative;
    bottom: 10px;
    display: flex;
    width: 95%;
    flex-direction: row-reverse;
}

a#a-forgot-password{
    font-size: 0.8rem;
}

div.new-account{
    font-size: 0.9rem;
    position: relative;
    margin-top: 1rem;
}


@media (max-width: 768px) {
    div.login-container {
        box-sizing: border-box;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 90vw;
        flex-direction: column;
        align-items: center;
    }

    div.login form {
        width: 80vw;
        padding: 0.75rem;
    }

    div.forgot-password{
        width: 88%;
    }

    div.login-img {
        width: 70%;
    }
}

@media (max-width: 480px) {
    div.login form {
        width: 80vw;
        padding: 0.5rem;
    }

    div.login form h1 {
        font-size: 1.5rem;
    }

    div.login-img {
        width: 75%;
    }
}