div.availability{
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    min-width: 50vw;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

div.top-availability{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
}

div.bottom-availability{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

div.availability.available{
    outline: 1px solid rgb(4, 211, 97);
    background-color: rgba(207, 250, 214, 0.151);
    border-left: 5px solid rgb(4, 211, 97);

}
div.availability.unavailable{
    outline: 1px solid rgb(223, 35, 35);
    background-color: rgba(250, 207, 207, 0.151);
    border-left: 5px solid rgb(223, 35, 35);
}

p.available{
    background-color: rgb(4, 211, 97);
    padding: 0.2rem 0.5rem;
    font-size: 0.85rem;
    border-radius: 5px;
    color: white;
}

p.unavailable{
    background-color: rgb(251, 75, 75);
    padding: 0.2rem 0.5rem;
    font-size: 0.85rem;
    border-radius: 5px;
    color: white;
}

button.btn-delete-availability{
    background-color: red;
    color: white;
}

form#edit-availability{
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

div.top-edit-availability{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
form.mid-edit-availability{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;
}
div.bottom-edit-availability{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;
}

div.slot{
    display: flex;
    align-items: center;
    gap: 10px;
}

input.timeSlot{
    padding: 0.5rem;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif; 
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: 2px solid #ccc;
}
input.timeSlot:focus{
    border-color: #3f51b5;
}

input.error-control{
    color: #e40e0e;
    border-color: #e40e0e;
}

div.availabilities p{
    text-align: center;
}

@media (max-width: 1024px) {
    div.availability {
        flex-direction: column;
        align-items: center;
        width: 70vw;
    }

    div.slot{
        width: 90%;
    }

    div.slot input{
        width: 100%;
    }

    form#edit-availability{
        margin-top: 1rem;
    }
    div.bottom-edit-availability{
        margin-top: 1rem;
    }
    
}


@media (max-width: 768px) {
    form#edit-availability{
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    div.slot{
        gap: 5px;
        flex-direction: column;
        justify-content: center;
    }

    div.availability{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    

   
   

}

